body
{
    background-image: url(matefinan.jpeg);
}

table
{
    background-color: white;
}

#mateFinanTodo
{
  background-color: rgb(241, 231, 212);
  margin-left: 17%;
  margin-right: 5%;
}

.parrMatFin
{
  color: black;
  margin: 30px;
}
#parrafo
{
    margin-left: 80px;
    margin-right: 30px;
}

#indice
{
  background-color: rgb(241, 231, 212);
  margin-left: 17%;
  margin-right: 50%;
  box-shadow: rgb(0, 0, 0) 5px 4px 5px;
  border-radius: 5px;
}

#ind
{
  font-weight: bold;
}

#SoluIntSim
{
  color: black;
}
