#cuerpo
{
    background-image: url(conta.jpg);
}

#tab-reco
{
    background-color: white;
}

#tab-medi
{
    background-color: white;
}

#tab-depre
{
    background-color: white;
}

#tab-dedi
{
    background-color: white;
}

#contTodo
{
  background-color: rgb(241, 231, 212);
  margin-left: 17%;
  margin-right: 5%;
}

.parrCont
{
  color: black;
  margin: 30px;
}
