#cuerpo
{
    background-image: url(conta.jpg);
}

#tab-reco
{
    background-color: white;
}

#tab-medi
{
    background-color: white;
}

#tab-depre
{
    background-color: white;
}

#tab-dedi
{
    background-color: white;
}

#contTodo
{
  background-color: rgb(241, 231, 212);
  margin-left: 17%;
  margin-right: 5%;
}

.parrCont
{
  color: black;
  margin: 30px;
}

#ind
{
  font-weight: bold;
}

#indice
{
  background-color: rgb(241, 231, 212);
  margin-left: 17%;
  margin-right: 50%;
  box-shadow: rgb(0, 0, 0) 5px 4px 5px;
  border-radius: 5px;
}

.tabDepDigi
{
    background-color: white;
}

#depLineaRecta
{
  font-size: 20px;
}

.extender
{
  width: auto;
}

.negra
{
  font-weight: 700;
}
